.help-container {
    background-color: #f5f6fb;
    z-index: 1;
    top: 0;
    width: auto;
    height: 100vh;
    border-radius: 5px;
    padding: 20px;
    }

    .section-hint{
        font-size: medium;
    }