<div class="sidenav">
  <div class="menu-items-noncollapsed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let section of sectionProgressData; let i = index;">
        <a (click)="getSectionQuestionAndOptions(section, i)" [ngClass]="{
             'in_progress': section.status === 'in_progress',
             'selected-section': i === selectedIndex,
             'disabled': section.status === 'to_do'
           }" [attr.aria-disabled]="section.status === 'to_do' ? true : null">

          <ng-container>
            <mat-icon *ngIf="section.status === 'in_progress'">hourglass_full</mat-icon>
            <mat-icon *ngIf="section.status === 'to_do'">assignment</mat-icon>
            <mat-icon *ngIf="section.status === 'finished'">check_circle_outline</mat-icon>
          </ng-container>

          <span [ngClass]="{
              'in_progress-color': section.status === 'in_progress',
              'selected-color': i === selectedIndex
            }">
            {{ section.section_name }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>